.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.radiator {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  &-project {
    height: 100%;
    width: 100%;
    min-width: 10%;
    padding: 10px;
    margin: 3px;
  }

  .SUCCESSFUL {
    background-color: #008016;
  }

  .FAILED {
    background-color: #800c00;
  }

  .INPROGRESS {
    background-color: #300080;
  }
}
